<div class="container">
	<div class="row">
		<h3>会員詳細画面</h3>
		<table class="table">
			<thead>
				<tr>
					<th colspan="2"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>顧客ID</td>
					<td><%= @end_user.id %>  <%= @end_user.is_deleted %></td>
				</tr>
				<tr>
					<td>氏名</td>
					<td><%= @end_user.first_name %>  <%= @end_user.last_name %></td>
				</tr>
				<tr>
					<td>フリガナ</td>
					<td><%= @end_user.first_kana_name %>  <%= @end_user.last_kana_name %></td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td><%= @end_user.postcode %></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%= @end_user.address %></td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td><%= @end_user.phone_number %></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%= @end_user.email %></td>
				</tr>
				<tr>
					<td><%= link_to '編集する', edit_admins_end_user_path(@end_user) %></td>
					<td><%= link_to '注文履歴一覧を見る', admins_orders_path %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>