<div class="container">
  <div class="row">
    <h3>ショッピングカート</h3>
    <p><%= link_to 'カートを空にする', empty_path, method: :delete, class: "btn btn-default" %></p>
    <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
          <th colspan="5"></th>
        </tr>
      </thead>
      <tbody>
        <% current_end_user.cart_items.each do |cart_item| %>
          <tr>
            <td><%= attachment_image_tag cart_item.item, :image, :fill, 100, 100 %></td>
            <td><%= cart_item.tax_price %></td>
            <td>
              <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch, local: true do |f| %>
                <%= f.select :quantity, ['1', '2', '3', '4'], {include_blank: '個数選択'} %>
                <%= f.submit '変更', class: "btn btn-default" %>
              <% end %>
            </td>
            <td><%= cart_item.sub_total %></td>
            <td><%= link_to '削除する', cart_item_path(cart_item), method: :delete, class: "btn btn-default" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="row">
      <div class="cart_item-btn">
        <%= link_to '買い物を続ける', items_path, class: "btn btn-default" %>
      </div>
      <div class="cart_item-total_price">
        <h5>合計金額</h5>
        <p><%= current_end_user.total_price(1.1) %></p>
      </div>
  </div>
  <div class="row">
    <%= link_to '情報入力にすすむ', new_order_path, class: "btn btn-default" %>
  </div>
</div>